<h1>Attractions</h1>
<ul>
<% if !current_user.admin %>
    <% @attractions.each do |a|%>
        <li><h3><%= link_to "Go on #{a.name}", attraction_path(a)%> </h3></li>
    <% end %>
<% else %>
    <% @attractions.each do |a|%>
        <li><h3><%= link_to "Show #{a.name}", attraction_path(a)%> </h3></li>
    <% end %>
    <%= link_to  "New Attraction", new_attraction_path %>
<% end %>
</ul>

